TestComplexTypeProj/WebContent/wsdl/CalculatorServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.test.com" xmlns:intf="http://soap.test.com" xmlns:tns1="http://model.soap.test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.soap.test.com"/>
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="dataObjects" type="tns1:DataObjects"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="tns1:ResultObject"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.soap.test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="DataObjects">
    <sequence>
     <element name="data1" type="xsd:double"/>
     <element name="data2" type="xsd:double"/>
     <element name="opertaion" nillable="true" type="xsd:string"/>
     <element name="result" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="ResultObject">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="resultValue" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculatorServiceImpl">

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorServiceImplSoapBinding" type="impl:CalculatorServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorServiceImplService">

      <wsdl:port binding="impl:CalculatorServiceImplSoapBinding" name="CalculatorServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/TestComplexTypeProj/services/CalculatorServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
